// Colors

$back: #498CEC;
$wh: #FFFFFF;
$light: rgba(255, 255, 255, 0.6);
$vlight: rgba(255, 255, 255, 0.4);
$bclight: rgba(255, 255, 255, 0.2);
$bl: #1086FF;
$bc: #000;

// Font size

$title: 50px;
$fz: 18px;
$mid: 20px;
$big: 25px;
$nd: 30px;

// Font weight 

$main: 400;

// Border radius

$rad: 8px;